@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'SUIT';
    src:
        local('SUIT Variable'),
        url('/assets/fonts/SUIT-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'SUIT', sans-serif;
    font-size: clamp(12px, 5vmin, 20px); // Reactive REM
    line-height: 1;
    scroll-behavior: smooth;

    --opaq: 1; // 투명도 글로벌 픽스, 텍스트 투명도 조정이 필요할 때 사용

    --fnt-title-xl: 2.4rem;
    --fnt-title-lg: 1.8rem;
    --fnt-title-md: 1.5rem;
    --fnt-title-sm: 1rem;

    --fnt-xl: .9rem;
    --fnt-lg: .8rem;
    --fnt-md: .7rem;
    --fnt-sm: .6rem;
    --fnt-xs: .5rem;

    --ff-sans-kr: 'SUIT', sans-serif;
    --ff-sans-en: 'Poppins', sans-serif;
    --ff-gothic-kr: '';
    --ff-gothic-en: 'Oswald', sans-serif;
    --ff-serif-kr: '';
    --ff-serif-en: 'Abril Fatface', serif;
    --ff-cursive: ;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    background-color: rgb(var(--clr-background));
    font-family: var(--ff-sans-kr);
    color: rgb(var(--clr-text) / var(--opaq));
    font-size: var(--fnt-md);
    word-break: keep-all;

    &.prevent-scroll { // 모달 등을 사용할 때 <body>에 클래스를 부여하여 스크롤 방지
        overflow: hidden;
    }

    overflow: overlay;
}

::selection { // 텍스트 선택 영역
    background-color: rgba(var(--clr-theme) / .9);
    color: rgb(var(--clr-text-on-tint));
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 2px;
    background-color: rgba(var(--clr-min) / .3);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(var(--clr-max) / .25);
}

hr {
    border: 0;

    &.vf {
        width: .5px;
        height: 100%;
    }

    &.hf {
        width: 100%;
        height: .5px;
    }
}

h2 {
    font-size: var(--fnt-title-lg);
}

h3 {
    font-size: var(--fnt-title-md);
}

h4 {
    font-size: var(--fnt-title-sm);
}

img,
picture,
i,
svg,
video {
    display: block;
    object-fit: cover;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

ul,
ol,
li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: rgb(var(--clr-text-highlight));
    }
}

/* _default.scss */