.tree-slider {
  width: 100%;
  max-width: 1200px;
}
.tree-slider .slick-initialized .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 250px;
}
.tree-slider .slick-initialized .slick-slide img {
  max-width: 50% !important;
  margin: 0 auto;
}
.tree-slider__button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tree-slider__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.tree-slider__level {
  font-size: 24px;
  margin: 20px 0;
}
.tree-slider__progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  margin-bottom: 20px;
  position: relative;
}
.tree-slider__progress {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
}
.tree-slider__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}
.tree-slider__card--hidden {
  opacity: 0.5;
  display: none;
}
.tree-slider__card-image {
  height: auto;
}
.tree-slider__status {
  margin-top: 20px;
}
.tree-slider__current-trees, .tree-slider__total-trees {
  font-size: 16px;
}
.tree-slider__stickers {
  margin-top: 10px;
}
.tree-slider__stickers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.tree-slider__sticker-image {
  width: calc(8.3333333333% - 10px);
  height: auto;
  gap: 10px;
}