/* _commons.scss */

#root {
    position: relative;
    width: 100%;
    height: 100%;
}

.inner-wrapper {
    margin-inline: auto;
    width: min(100% - 1.6rem, 80rem);
}

.rounded { // 둥근 테두리 컨테이너
    border-radius: .8rem;
    background-color: rgb(var(--clr-min));
}

.separator { // <br /> 대신 사용할 수 있는 분리선, 빈 <div>에 클래스 부여하면 됨
    --border-color: var(--clr-text);

    position: relative;
    margin-block: .5rem;
    margin-inline: auto;
    width: min(100% - 1.6rem, 20rem);
    height: 1px;
    background-color: rgb(var(--border-color));
    opacity: 50%;
    overflow: visible;

    &::after {
        display: block;
        position: absolute;
        inset: 0;
        margin: auto;
        width: .4rem;
        height: .4rem;
        border: 1px solid rgb(var(--border-color));
        background-color: rgb(var(--clr-background));
        rotate: 45deg;
        content: '';
    }
}

.icons { // svg 아이콘 사용시 이 클래스를 붙여야 함
    width: 1.2rem;
    aspect-ratio: 1 / 1;
}

#navBreadCrumbs {
    margin-block-end: .6rem;
}

#customAlert {
    position: fixed;
    inset-block-end: 5vh;
    inset-inline: 0;
    margin: auto;
    padding: 1.5rem;
    border: 1px solid rgb(var(--clr-tint-10) / .5);
    border-radius: .8rem;
    background-color: rgb(var(--clr-min) / .75);
    backdrop-filter: blur(.4rem);
    font-size: var(--fnt-lg);
    font-weight: 700;
    text-align: center;
    z-index: 50000;

    &.error {
        border-color: rgb(var(--clr-alert) / .5);
    }

    &.warn {
        border-color: rgb(var(--clr-warn) / .5);
    }

    &.good {
        border-color: rgb(var(--clr-clear) / .5);
    }

    &.hide {
        animation: hideAlert 1s forwards;
    }
}

/* _commons.scss */