/* _footers.scss */

#footPrimary { // λ©”μΈ ν‘Έν„°
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-block-start: 1px solid rgb(var(--clr-text) / .15);
}

.footer-social-area {

}

.footer-logo {
    height: 2.7rem;

    > img {
        height: 100%;
        object-fit: cover;
    }
}

.footer-copyright {
    font-size: var(--fnt-sm);
}

/* _footers.scss */