/* _headers.scss */

#headPrimary { // 메인 헤더
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: .8rem;
}

.header-nav-area {
    display: flex;
    align-items: center;
}

#logoMain {

}

#navPrimary {

}

.nav-list {
    display: flex;
}

.nav-item {

}

/* _headers.scss */