/* _mainPage.scss */

#root { // 최상위 컨테이너

}

#contentView { // <main> 요소
    padding-block: 1.8rem;

    &:has(#sideBarMain) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: .8rem;
    }
}

#mainContainer {
    flex: 1;
}

/* _mainPage.scss */