/* _subPages.scss */

#navBreadCrumbs { // 서브 페이지 브레드크럼 네비게이션
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .4rem .8rem;
    font-size: var(--fnt-sm);
    font-weight: 700;

    .icons {
        width: .6rem;

        &:last-of-type {
            display: none;
        }
    }
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .4rem;

    &:last-of-type {
        opacity: .5;
        pointer-events: none;
    }
}

/* _subPages.scss */