/* _subPages.scss */

#navBreadCrumbs {
  // 서브 페이지 브레드크럼 네비게이션
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4rem 0.8rem;
  font-size: var(--fnt-sm);
  font-weight: 700;

  .icons {
    width: 0.6rem;
  }
}

.breadcrumb-item {
  padding: 0.4rem;
  display: flex;
  gap: 1rem;

  + .breadcrumb-item {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* _subPages.scss */
