.layout__row {
  max-width: 1920px;
  margin: 0 auto;
}
.layout__content-wrapper {
  background: #f6f8fa;
  min-height: 100vh;
  padding: 1.5rem 1.7rem;
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 255px);
}
@media (max-width: 1400px) {
  .layout__content-wrapper {
    width: 100%;
  }
}

.layout__row,
.flex-row {
  display: flex;
}