/* _cardItems.scss */

/* 제품, 지식 글 목록 아이템 */

.card-item {
    border-radius: .8rem;
    background-color: rgb(var(--clr-min));
    overflow: hidden;

    &.products {
        flex: 1;
        max-width: 16rem;
    }

    &.knowledge {
        display: flex;
        height: 9rem;

        .card-image-container {
            width: 13.75rem;
            height: 100%;
        }

        .card-description-container {
            display: flex;
            flex-flow: column nowrap;
        }
    }
}

.card-image-container {
    position: relative;
    width: 100%;
    height: 12.25rem;
    background-color: rgb(var(--clr-max) / .75);

    .card-image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }

    > .card-tags-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .4rem;
        position: absolute;
        inset: 0;
        margin-block-start: auto;
        padding: .4rem;
        height: fit-content;
        color: rgb(255 255 255);
    }
}

.card-tag-item {
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .2rem .8rem;
    border-radius: 25rem;
    background-color: rgb(var(--tag-background-color));
    box-shadow: 0 0 .8rem -.2rem rgb(0 0 0 / .35);
    color: rgb(var(--tag-text-color));
    font-size: var(--fnt-sm);
    font-weight: 900;

    &.likes {
        --tag-background-color: 255 178 198;
        --tag-text-color: 226 47 113;
    }

    &.trees {
        --tag-background-color: 194 255 213;
        --tag-text-color: 89 122 96;
    }

    .icons {
        width: .8rem;
    }

    .tag-item-hidden {
        width: 0;
        white-space: nowrap;
        overflow: hidden;
    }
}

.card-item:hover {
    .tag-item-hidden {
        width: fit-content;
        transition: width .15s;
    }
}

.card-description-container {
    flex: 1;
}

.card-descriptions {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: .6rem;
    padding: .6rem .8rem;

    > .card-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(:has(.card-category-tag)) {
            font-size: var(--fnt-title-md);
            font-weight: 900;
        }

        &:has(.card-category-tag) {
            display: flex;
            align-items: center;
            gap: .4rem;

            > .card-title-text {
                font-size: var(--fnt-title-md);
                font-weight: 900;
            }
        }
    }

    > .card-type {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        opacity: .75;
        height: 3.5rem;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > .card-text {
        flex: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        position: relative;
        font-size: var(fnt-sm);
        line-height: 1.4;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: .5;

        &::after {
            display: block;
            position: absolute;
            inset: 0;
            margin-block-start: auto;
            height: 1.8rem;
            background-image: linear-gradient(to top, rgb(var(--clr-min)), transparent);
            content: '';
        }
    }

    > .card-price {
        color: rgb(var(--clr-text) / .5);
        font-size: var(--fnt-sm);
        vertical-align: bottom;

        span {
            color: rgb(var(--clr-text));
            font-size: var(--fnt-lg);
            font-weight: 900;
        }
    }
}

.card-category-tag {
    --tag-background-color: var(--clr-theme);
    --tag-text-color: var(--clr-min);

    padding: .2rem .6rem;
    border-radius: 25rem;
    background-color: rgb(var(--tag-background-color));
    color: rgb(var(--tag-text-color));
    font-size: var(--fnt-sm);
    font-weight: 900;
}

.card-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem .8rem;
    border-block-start: 1px solid rgb(var(--clr-text) / .15);
    font-size: var(--fnt-sm);
    opacity: .5;
}

.user-nametag {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.user-nametag-picture {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 25rem;
    overflow: hidden;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.user-nametag-name {
    font-size: var(--fnt-sm);
    font-weight: 600;

    &::after {
        content: ' 님';
    }
}

/* 지식 나눔 글 모바일 미디어 쿼리 */

@media screen and (max-width: 840px) { // 태블릿 (840px) - 이미지 사이즈 축소
    .card-item.knowledge {
        > .card-image-container {
            width: auto;
            height: 100%;
            aspect-ratio: .6 / 1;
        }
    }
}

@media screen and (max-width: 540px) { // 모바일 (640px) - 이미지 축소 및 글 영역 확대
    .card-item.knowledge {
        > .card-image-container {
            margin: .4rem;
            height: 5rem;
            aspect-ratio: 1 / 1;
            border-radius: .4rem;
            overflow: hidden;
        }
    }
}

/* 나눔 후기 글 아이템 */

.review-item {
    flex: 1;
    border-radius: .8rem;
    background-color: rgb(var(--clr-min));
    overflow: hidden;
}

.review-image-container {
    position: relative;
    height: 12rem;
    background-color: rgb(var(--clr-max) / .75);

    > .review-image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
    }
}

.review-title-area {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .4rem .8rem;
}

.review-user-picture {
    margin-block-start: -.8rem;
    width: 3.2rem;
    height: 3.2rem;
    border: .2rem solid rgb(var(--clr-min));
    border-radius: 25rem;
    overflow: hidden;
    z-index: 2;
}

.review-title {
    margin-block-end: .2rem;
    font-size: var(--fnt-lg);
    font-weight: 900;
}

.review-author {
    font-size: var(--fnt-sm);
    font-weight: 600;
}

.review-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    padding: 0 .8rem .6rem;
    height: 5.2rem;
    font-size: var(--fnt-sm);
    font-weight: 600;
    line-height: 1.4;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .5;

    &::after {
        display: block;
        position: absolute;
        inset: 0;
        margin-block-start: auto;
        height: 1.8rem;
        background-image: linear-gradient(to top, rgb(var(--clr-min)), transparent);
        content: '';
    }
}

.review-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem .8rem;
    border-block-start: 1px solid rgb(var(--clr-text) / .15);

    > .review-written-date {
        margin-inline-start: auto;
        font-size: var(--fnt-sm);
        opacity: .5;
    }
}

@media screen and (max-width: 480px) {
    .card-item.products {
        max-width: auto;
    }
}

/* _cardItems.scss */