.knowledge-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 100px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  color: #333;
  border-radius: 8px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

  .image-upload {
      display: flex;
      flex-direction: column;
      align-items: center;

      .upload-button {
          width: 100px;
          height: 100px;
          border: 2px solid #337235;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          cursor: pointer;

          .plus-icon {
              font-size: 60px;
              color: #337235;
              margin-bottom: 8px;
          }

          .image-count {
              font-size: 14px;
              color: #333;
          }
      }
  }
}

.knowledge-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  .form-group {
      display: flex;
      align-items: center;
      gap: 20px;

      &--textarea {
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
      }
  }

  .form-label {
      min-width: 120px;
      font-size: 16px;
      font-weight: bold;
  }

  .input-title{
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  .input-type,
  .dropdown {
      width: 200px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }


  .input-description {
      width: 100%;
      height: 150px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
  }

  .form-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }

  .cancel-button,
  .submit-button {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
  }

  .cancel-button {
      background-color: transparent;
      color: #337235;
      border: 2px solid #337235;
  }

  .submit-button {
      background-color: #337235;
      color: #fff;
      border: 2px solid #337235;
  }
}