/* pages/MyPage.scss */

.mypage {
  flex: 1;
  min-height: 100vh;

  &__title {
    text-align: center;
    color: #4caf50;
  }

  &__dashboard,
  &__other-features {
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;

    &-title {
      color: #333;
    }
  }

  &__dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
  }
  &__other-features {
    padding: 0;
    background-color: unset;
  }

  &__user-info,
  &__user-stamps {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      margin: 0;
    }
  }

  &__user-nickname,
  &__stamps-count {
    font-size: 18px;
    color: #555;
  }

  &__edit-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }

  &__features-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__feature-item {
    margin-bottom: 10px;
  }

  &__feature-link {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: transparent;
    color: #337235;
    border: 2px solid #337235;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    &:hover {
      background-color: #337235;
      color: #fff;
      border: 2px solid #337235;
    }
  }
}
